.transactionHistory {
  color: rgb(73, 73, 73);
  width: 650px;
  border-collapse: collapse;
  border: 1px solid rgb(196, 178, 178);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* margin: auto auto; */
}

th {
  border: 1px solid rgb(196, 178, 178);
  background-color: rgb(115, 158, 128);
  color: rgb(73, 73, 73);
  font-weight: 600;
  font-size: x-large;
  padding: 5px 0 5px 0;
}

td {
  border: 1px solid rgb(196, 178, 178);
  font-weight: 300;
  font-size: large;
  padding: 5px 0 5px 0;
}

tr:nth-child(even) {
  background-color: rgb(215, 242, 216);
}